BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_API_KEY=
VITE_WEBSITE_URL=
VITE_DASHBOARD_URL=
RESEND_API_KEY=
RESEND_EMAIL_FROM=
RESEND_EMAIL_REPLY_TO=
CORS_ORIGIN=
DATABASE_URL=

# Set to "true" to raise Better Auth and tRPC internal log levels to debug (more verbose).
DEBUG_PERFORMANCE=false
